<h1>Lista de Itens: </h1>
{{!-- <table>
    {{#each allData}}
        <tr>
            <td>{{this}} Aqui fecha</td>
        </tr>
    {{/each}}

    <tr>
        <td>{{allData}} Aqui fecha2</td>
    </tr>
</table> --}}
{{#each allData as |item|}}
    <p>{{item_Id}}</p>
    <p>{{"purchasePercent"}}</p>
    <p>{{"fk_ContractNumb"}}</p>
    <p>{{"unitPrice"}}</p>
    <p>{{"division"}}</p>
    <p>{{firstDescription}}</p>
{{/each}}